.login-card{
    width: 500px;
    height: 300px;
    margin: 10rem auto;
}

.login-card-title{
    text-align: center;
}

.login-form{
    margin-top: 1.5rem;
}

.login-button-parent{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.login-button{
    width: 100%;
}

.error-message{
    color: red;
}

.signup-link{
    margin-top: 4.5px;
}