<div class="form-container">
    <h1 class="title">Add your task!</h1>
    <form>
        <div class="field">
            <label class="label">What do you wanna get done?</label>
            <div class="control">
                <input name="taskTitle" class="input" [(ngModel)]="taskTitle" type="text" placeholder="Enter your task">
            </div>
        </div>
        <div class="field">
            <label class="label">Till when?</label>
            <div class="control">
                <input name="taskDeadline" [(ngModel)]="taskDeadline" class="input" type="date">
            </div>
        </div>
    </form>

    <button (click)="addItemHandler(taskTitle,taskDeadline)" class="button addButton is-link">Add Task</button>

</div>